#忽略.metadata文件
/.metadata/*

#忽略android-support-v7-appcompat文件
/android-support-v7-appcompat/*

#忽略JPushTest文件
/JPushTest/*

#忽略library文件
/library/*

#忽略SwipeMenuListView文件
/SwipeMenuListView/*

#忽略XUtilsExample文件
/XUtilsExample/*

#忽略所有的bin文件
*/bin/*

#忽略所有的bin文件
*/gen/*

#忽略所有的bin文件
.class

#忽略所有的bin文件
.svn

